workflows/08_error_alert.json
{
  "name": "08 - Error Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "error-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "error-alert-webhook"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst now = new Date().toISOString();\n\nconst severity = data.severity || 'error';\nconst icon = severity === 'critical' ? '🚨' : '⚠️';\n\nconst workflow = data.workflow || 'unknown';\nconst node = data.node || 'unknown';\nconst message = data.message || data.error || JSON.stringify(data);\nconst context = data.context ? JSON.stringify(data.context, null, 2) : 'N/A';\n\nconst text = [\n  `${icon} *AlgoTrader Error — ${severity.toUpperCase()}*`,\n  ``,\n  `📍 Workflow: ${workflow}`,\n  `📍 Node: ${node}`,\n  `🕐 Čas: ${now}`,\n  ``,\n  `❌ Error:`,\n  `\\`\\`\\``,\n  message.slice(0, 500),\n  `\\`\\`\\``,\n  ``,\n  `📎 Kontext: ${context.slice(0, 200)}`\n].join('\\n');\n\nreturn [{ json: { text } }];\n"
      },
      "id": "format-error",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $env.TELEGRAM_ERROR_CHAT_ID || $env.TELEGRAM_CHAT_ID }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "send-error-telegram",
      "name": "Send Error to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "tg-cred-1",
          "name": "AlgoTrader Telegram"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_log (event_type, data, severity) VALUES ('error', $1::jsonb, $2) RETURNING id",
        "options": {
          "queryReplacement": "={{ JSON.stringify($('Webhook').first().json) }},={{ $('Webhook').first().json.severity || 'error' }}"
        }
      },
      "id": "log-error-db",
      "name": "Log Error to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "pg-cred-1",
          "name": "AlgoTrader PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({status: 'ok', logged: true}) }}"
      },
      "id": "webhook-response",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Format Error Message", "type": "main", "index": 0}]]
    },
    "Format Error Message": {
      "main": [[{"node": "Send Error to Telegram", "type": "main", "index": 0}]]
    },
    "Send Error to Telegram": {
      "main": [[{"node": "Log Error to DB", "type": "main", "index": 0}]]
    },
    "Log Error to DB": {
      "main": [[{"node": "Respond", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "id": "08-error-alert",
  "tags": [{"name": "algotrader"}]
}
